*{
    margin:0;
    padding:0;
}

.header{
    background-color: black;
    color: rgb(174, 171, 171);
    padding: 20px;
    text-align: center;
}

.gridContainer{
    padding: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.bothBoards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.startScreen{
    margin: 0 auto;
    margin-top: 200px;
    padding: 40px;

    /* need this to style the inside stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    width: 300px;
}

.displayTurns{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: larger;
}

.randomShipsPlayerOne{
    display:none;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 30px; */


}
.displayP{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: larger;
}

.gContainer{
    padding: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

